@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.navbar {
  position: fixed;
  width: 100%; }

/*--------------- footer --------------- */
footer {
  display: flex;
  background-color: #202124;
  flex-direction: column;
  width: 100%; }
  footer .contenedor-footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%; }
    footer .contenedor-footer .contenedor-footer-2 {
      width: 890px; }
      footer .contenedor-footer .contenedor-footer-2 .footer__div {
        display: flex;
        justify-content: center; }
        footer .contenedor-footer .contenedor-footer-2 .footer__div .footer__div__div {
          display: flex;
          width: 100%;
          justify-content: space-between;
          /*----- texto de la pregunta ¿por que? - footer ----- */
          /*----- Enaleces rapidos - footer ----- */ }
          footer .contenedor-footer .contenedor-footer-2 .footer__div .footer__div__div .footer__div__div__div {
            width: 500px; }
            footer .contenedor-footer .contenedor-footer-2 .footer__div .footer__div__div .footer__div__div__div .footer__div__div__div__h4 {
              font-family: 'Mulish', sans-serif;
              font-size: 16px;
              letter-spacing: 2px;
              text-transform: uppercase;
              margin-bottom: 15px;
              color: #fff; }
            footer .contenedor-footer .contenedor-footer-2 .footer__div .footer__div__div .footer__div__div__div .footer__div__div__div__p {
              font-family: 'Alegreya Sans', sans-serif;
              text-align: justify;
              font-size: 18.5px;
              line-height: 25px;
              color: #737373; }
          footer .contenedor-footer .contenedor-footer-2 .footer__div .footer__div__div .footer__div__div__div-2__h5 {
            font-family: 'Mulish', sans-serif;
            font-size: 16px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 15px;
            color: #fff; }
            footer .contenedor-footer .contenedor-footer-2 .footer__div .footer__div__div .footer__div__div__div-2__h5 .footer__div__div-2__ul__a {
              font-family: 'Alegreya Sans', sans-serif;
              font-size: 18.5px;
              color: #737373; }
      footer .contenedor-footer .contenedor-footer-2 .footer__hr {
        width: 100%;
        border-top-color: #bbb;
        opacity: 0.5; }
      footer .contenedor-footer .contenedor-footer-2 .footer__div__div-3 {
        display: flex;
        justify-content: flex-start;
        width: 100%; }
        footer .contenedor-footer .contenedor-footer-2 .footer__div__div-3 .footer__div__div-2__p {
          font-family: Arial, sans-serif;
          color: #737373; }
        footer .contenedor-footer .contenedor-footer-2 .footer__div__div-3 .footer__div__div-2__p2 {
          font-family: Arial, sans-serif;
          color: #737373; }
        footer .contenedor-footer .contenedor-footer-2 .footer__div__div-3 .footer__div__p__a {
          font-family: Arial, sans-serif;
          color: #737373; }

/*--------------- responsive - footer --------------- */
@media screen and (max-width: 780px) {
  /*--------------- footer --------------- */
  footer .contenedor-footer {
    padding-left: 25px;
    padding-right: 25px; }
    footer .contenedor-footer .contenedor-footer-2 {
      display: flex;
      flex-direction: column; }
      footer .contenedor-footer .contenedor-footer-2 .footer__div .footer__div__div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /*----- texto de la pregunta ¿por que? - footer ----- */
        /*----- Enaleces rapidos - footer ----- */ }
        footer .contenedor-footer .contenedor-footer-2 .footer__div .footer__div__div .footer__div__div__div {
          width: 100%; }
        footer .contenedor-footer .contenedor-footer-2 .footer__div .footer__div__div .footer__div__div__div-2 {
          width: 100%; } }
