.main__section1__div {
	background-image: url(/assets/img/fondo-section1.jpg);
	width: 100%;
	height: 870px;
	margin-top: 75px;

	.main__section1__div__div {
		display: flex;
		height: 870px;
		color: white;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.nombre{

		}

		.trabajo{
			font-size: 25px;
			font-family: 'Roboto', sans-serif;
		}
	}

	.div__icon-flecha {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		top: -100px;

		.div__div__icon-flecha {

			.icon-felcha {
				width: 64px;
			}
		}

	}

}